List((
    texture_width: 101,
    texture_height: 171,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 101,
            height: 171,
        ),
        (
            x: 0,
            y: 0,
            width: 101,
            height: 171,
        ),
        (
            x: 0,
            y: 0,
            width: 101,
            height: 171,
        )
    ]
))
